name: Java Automated Test

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Compile Java files
      run: |
        find . -name "*.java" -print0 | xargs -0 javac -d .

    - name: Run test
      run: java com.mycompany.studentproject.CoursesMethodTest


